@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-museomoderno: "MuseoModerno";
  --font-poppins: "Poppins";
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.museomoderno {
  font-family: var(--font-museomoderno);
}

.ant-dropdown-menu-item:hover {
  background-color: #fde5d7 !important;
  color: #000;
}

.ant-progress-circle-path {
  stroke: #005b96 !important;
}
