@font-face {
  font-family: MuseoModerno;
  src: url("./assets/font/MuseoModerno-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/font/Poppins-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-MuseoModerno: MuseoModerno, sans-serif;
  --font-MuseoModerno: Poppins, sans-serif;
}
